html {
    padding: 0;
    margin: 0;
    font-size: 24px;
}

body {
    font-family: 'Mulish', sans-serif;

}

header {
    text-align: center;
    color: #66e6fd;
    background-color: #332154;
    padding: 120px;
}

header h1 {
    font-size: 3rem;
    padding: 15px;
}

header h2 {
    font-size: 1.5rem;
}



.sobre {
    align-items: center;
    font-size: 2rem;
    margin: 20px 20px 20px 64px;
    align-items: center;

}

.sobreConteudo {
    font-size: 1rem;
    margin-left: 64px;
    margin-right: 128px;   
}

ul li {
    margin-top: 12px;
    align-items: center;
}
